<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find coal_demo)/worlds/all.world"/>
		<!-- more default parameters can be changed here -->
	</include>


    <!-- <node pkg="dump_extract" type="extract_node" name="extract_node" output="screen"/> -->

</launch>